server:
  port: 8080
spring:
  application:
    name: demo
  datasource:
    url: jdbc:postgresql://localhost:5432/fundb
    username: furkan
    password: furkan
    driver-class-name: org.postgresql.Driver

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: true
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true

  elasticsearch:
    uris: http://localhost:9200
    connection-timeout: 5s
    socket-timeout: 60s

  servlet:
    multipart:
      enabled: true
      max-file-size: 10MB
      max-request-size: 10MB
      file-size-threshold: 2MB

app:
  elasticsearch:
    index:
      funds: funds
    sync:
      enabled: true
      batch-size: 100